name: Deploy to GCE

on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Authenticate with Google Cloud
        run: gcloud auth login --console-only
        
      - name: Activate Service Account
        run: |
          echo "$GCLOUD_SERVICE_KEY" > key.json
          gcloud auth activate-service-account --key-file=key.json
        env:
          GCLOUD_SERVICE_KEY: ${{ secrets.GCLOUD_SERVICE_KEY }}

      - name: Set Google Cloud account
        run: gcloud config set account ACCOUNT
        env:
          ACCOUNT: nithinlokanath@gmail.com

      - name: Install dependencies
        run: npm install

      - name: Deploy to GCE
        run: |
          gcloud auth configure-docker
          gcloud compute scp --recurse . instance-nodejs:/
          gcloud compute ssh instance-nodejs --zone=asia-southeast1-a --command "cd / && npm install && npm start"
