name: Deploy to GCE

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      # Setup gcloud CLI
      - id: 'auth'
        uses: 'google-github-actions/auth@v0'
        with:
          credentials_json: '${{ secrets.GCLOUD_SERVICE_KEY }}'

      # Configure gcloud CLI
      - name: gcloud Set up
        run: |
            #export SERVICE_NAME=${{ github.event.repository.name }}
            #echo $SERVICE_NAME
            gcloud config set project ${{ secrets.GCLOUD_PROJECT_ID }}
      - name: Image
        run: |-
          gcloud auth configure-docker -q
          docker build -t asia.gcr.io/${{ secrets.GCLOUD_PROJECT_ID }}/my-app-nodejs:${{ github.sha }} .

      #Configure docker to use the gcloud command-line tool as a credential helper
      - run: |
            gcloud auth configure-docker -q
        # Push image to Google Container Registry
      - name: Build
        run: |-
            docker push asia.gcr.io/${{ secrets.GCLOUD_PROJECT_ID }}/my-app-nodejs:${{ github.sha }}
      - name: Deploy
        run: |
            gcloud compute instances update-container instance-nodejs --container-image=gcr.io/${{ secrets.GCLOUD_PROJECT_ID }}/my-app:${{ github.sha }}
